.scan{
    /* width: 400px; */
    width: 95%;
}

input{
    width: 50%;
}

.buttonCheck{
    margin: 15px 38% 20px;
}

.modal-content{
    padding: 10px 10px 0px;
    margin :0px !important;
}

section{
    margin: 5px 5px 11px;
}

.tabs{
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-size:14px;
    color:black;
    
}

.radius{
    padding:3px;
}

.radiusBtn{
    border-radius: 20px !important;
    margin-top:10px;
    margin-bottom: 10px;
}

.bodyLogin{
    background:black;
     margin-top: auto; 
}
.top{
    margin-top:15%;
}

.top2{
    margin-top: 80%;
    
}
.top3{
    margin-bottom: 50%;
}
.title{
        margin-bottom: 0px !important;      
}

.title1{
font-size: 23px !important;
color:darkslategrey;
}
.float-left{
    float: right;
}